[2018-12-12 11:44] Praptobala opened #1 "Hi OpenPoseDotNet.Native not compiling"
I just downloaded and compiling the source, but not able to compile OpenPoseDotNet.Native

[2018-12-13 13:57] takuya-takeuchi commented on #1
Could you show me error message and OS?
I tested only Windows for now.

[2019-01-08 10:08] pavchavan commented on #1
I am not able to compile the OpenPoseDotNet project.
 as getting the error -
The type or namespace name 'SuppressUnmanagedCodeSecurity' could not be found (are you missing a using directive or an assembly reference?)

in src/OpenPoseDotNet/CStd/OpenPose.cs

[2019-01-09 08:28] pavchavan opened #2 "Not Able to build/ run the Demo projects."
Hey ,
Can some one help me with the proper steps for the building of the Project.

help me out with this.

[2019-01-09 08:50] takuya-takeuchi commented on #2
Do you face to same problem for #1?
If not, please write error message here.

[2019-01-09 08:58] pavchavan commented on #2
I am facing the same problem as #1 issue.
is there any specific procedure to compile the code?

[2019-01-09 16:20] takuya-takeuchi commented on #2
I was not able to reproduce your issue.
I need more detail about your environmental.

* OS
* Installed .NET Framework version
* .NET Core version
  * you can get from **dotnet --info**
* Visual Studio version
  * I expect you use 2017

[2019-01-09 16:23] takuya-takeuchi commented on #1
What does it mean?
I did not set targeting value .NETStandard 1.6. I use 2.0.

https://github.com/takuya-takeuchi/OpenPoseDotNet/blob/master/src/OpenPoseDotNet/OpenPoseDotNet.csproj#L4

I guess .NET Core SDK 2.0 is not installed on your machine.

[2019-01-10 08:49] pavchavan commented on #2
Getting this error

"Project OpenPoseDotNet is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0). Project OpenPoseDotNet supports: netstandard2.0 (.NETStandard,Version=v2.0)"

[2019-01-10 11:48] pavchavan commented on #2
i am able to build the OpenPoseDotNet.
Not able to run the OpenPoseDemo in visual studio getting the Exception "Exception thrown: 'System.DllNotFoundException' in OpenPoseDotNet.dll"  and the Dll is already present in the build folder.

One more thing is when i build the OpenPoseDemo , creating the OpenPoseDemo.dll even though Output type set to "Console Application".

"1>------ Rebuild All starte

[2019-01-10 12:09] takuya-takeuchi commented on #2
OpenPoseDotNet.dll depends on OpenPoseDotNet.Native.Dll. And it depends on openpose.dll and many libraries.

Did you run CopyOpenPose.bat?
This bat deploy binary and model file to bin.

Outlook for iOS<https://aka.ms/o0ukef> を入手

________________________________
差出人: pavchavan <notifications@github.com>
送信日r: 木曜日, 1月 10, 2019 20:48
宛先: takuya-takeuchi/OpenPoseDotNet
Cc: Takuya Takeuchi; Comment
件

[2019-01-10 12:16] pavchavan commented on #2
I didn't run the CopyOpenPose.bat
Tried running the openposedemo from the visualstudio.

But when I build in visual  studio it's creating .dll file.

[2019-01-10 12:17] pavchavan commented on #2
So after running the copyopenpose.bat
What is the steps to run the demo and how should I test?

[2019-01-10 13:55] takuya-takeuchi commented on #2
It is specification of .NET Core application.
You can create exe appliation by using dotnet publish command.

The following files are required and deployied in OpenPoseDotNet\examples\OpenPoseDemo\bin\Release\netcoreapp2.0

* models
* boost_chrono-vc140-mt-1_61.dll
* boost_filesystem-vc140-mt-1_61.dll
* boost_python-vc140-mt-1_61.dll
* boost_system-vc140-mt-1_61.dll
* boost_system-vc140-mt-gd-1_61

[2019-01-10 14:03] pavchavan commented on #2
after publishing, the OpenPoseDemo.exe exits and there are no logs.

its crashing .
if the project works where will be the output?

can you give me the Process to test.

or give me snap of how the output looks.

[2019-01-10 14:08] takuya-takeuchi commented on #2
Basically, all sample projects correspond to original openpose sample.
OpenPoseDemo is web camera test.
The gif anime is result of execution for OpenPoseDemo.

![sample](https://user-images.githubusercontent.com/6241854/50973571-94c20b80-152c-11e9-9492-bb263a0fc97b.gif)

[2019-01-10 14:11] takuya-takeuchi commented on #2
I want to confirm one thing just in case. Does your machine equip GPU? openpose does not work if developer specify cpu build mode.

[2019-01-10 14:15] pavchavan commented on #2
ya my system has a NVIDIA GeForce GTX 1070.

camera is connected. still gets the error in Visual studio ""Exception thrown: 'System.EntryPointNotFoundException' in OpenPoseDotNet.dll"

[2019-01-10 14:22] pavchavan commented on #2
After publishing the Project, i am running the OpenPoseDemo.exe,and it just closes .

and i am very new to the Publishing and all.

[2019-01-10 14:41] takuya-takeuchi commented on #2
I suspect OpenPoseDotNet.Native is corrupted.
Could you execute the following command to check the export function?

[code]

After this, exported function will be listed.

[code]

[2019-01-11 04:58] pavchavan commented on #2
File Type: DLL

  Section contains the following exports for OpenPoseDotNet.Native.dll

    00000000 characteristics
    5C35D11E time date stamp Wed Jan  9 16:16:54 2019
        0.00 version
           1 ordinal base
          85 number of functions
          85 number of names

    ordinal hint RVA      name

          1    0 001E5704 ?FLAGS_3d@fLB@@3_NA = ?FLAGS_3d@fLB@@3_NA (bool fLB::FLAGS_3d

[2019-01-11 13:15] takuya-takeuchi commented on #2
Above only? It looks like there are only FLAGS_XXX.
In conclusion, OpenPoseDotNet.Native is corrupted.
But I do not know why build is failed.

[2019-01-11 13:17] pavchavan commented on #2
can you please provide those required dlls for me . i just want to test.

[2019-01-11 13:47] takuya-takeuchi commented on #2
[OpenPose.zip](https://github.com/takuya-takeuchi/OpenPoseDotNet/files/2749787/OpenPose.zip)

I can not contain many libraries in openpose\build\bin

[2019-01-11 13:49] pavchavan commented on #2
thank you,i will test.

[2019-01-14 11:36] takuya-takeuchi commented on #2
could you try the latest build? I found the build configuration error in CMakeLists.txt.

[2019-01-16 11:08] 599177227 opened #3 "Hi How to use the Nuget?"
Hello,I want to ask for instructions for how to use the openpose API,are there some suggestions or instrutions?

[2019-01-16 11:19] takuya-takeuchi commented on #3
I'm verry sorry to trouble you.
This product is just development phase. So there are some bug, issue and trouble.
Please forgive me.

1. Add Nuget package to your project
2. Build
3. Copy the following dependency libraries to output directory (Case: Windows)

* boost_chrono-vc140-mt-1_61.dll
* boost_filesystem-vc140-mt-1_61.dll
* boost_python-vc140-mt-1_61.dll
* boost_system-vc140-mt-1_61.dll
* bo

[2019-01-16 11:41] 599177227 commented on #3
Oh!!!Thank you very much for your answer
So now We only can execute the Openpose Demo , there is no API available for this NuGet package?

[2019-01-16 12:37] takuya-takeuchi commented on #3
What does it mean?
**src/OpenPoseDotNet** wrap openpose.dll. So there should is many openpose API.

OpenPose Demo is ported from https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/examples/openpose/openpose.cpp.

[2019-01-16 12:59] 599177227 commented on #3
Okay，I just don't know how to use the Openpose API,
Is there a corresponding API document  there or some imformation about it?

[2019-01-16 13:03] 599177227 commented on #3
And I don‘t Know how to use the OpenposeDonet， Can I use it to implement WPF programs?   I hope that you could give me some instructions?

[2019-01-16 13:51] 599177227 commented on #3
And May I ask you for some other solutions ,I build the project ,but there are some errors as follwing:
Error MSB3030: Unable to copy the file "C:\ Users \ 57726 \ source \ repos \ ConsoleApp3 \ packages \ OpenPoseDotNet.1.4.0.20190115 \ runtimes \ win-x64 \ native \ DlibDotNetNativeDnn.dll" because the file could not be found.
My .NetFrame Version:4.72

[2019-01-16 14:18] takuya-takeuchi commented on #3
No document. But all api and class have similar with original name. So you could understand easily.

[2019-01-16 14:19] takuya-takeuchi commented on #3
Ops. I'm very sorry to trouble you. I uploaded wrong package.
Please give me time to correct.

[2019-01-16 15:05] takuya-takeuchi commented on #3
Sorry. I unlisted package because there are many problems.... Please forgive me......

[2019-01-16 15:19] 599177227 commented on #3
It doesn't matter, the package you made is already very good. Thank you very much for your answer. Is the error above me because you uploaded the wrong package? Then how should I solve this error?

[2019-01-16 15:30] 599177227 commented on #3
After I added the two missing files, the program can run, but the console flashes back and then has the following problem in the output box: The exception thrown: "System.Exception" (located in OpenPoseDotNet.dll)
The exception thrown: "System.DllNotFoundException" (located in ConsoleApp1.exe)
Can you help me solve it?

[2019-01-16 15:45] takuya-takeuchi commented on #3
Yes, I just fixed now and uploaded 1.4.0.20190117. But nuget package system is difficult and there may be other problems.
Please let me know if you face problem.

Thank you for your cooperation.

[2019-01-16 15:57] 599177227 commented on #3
Okay，I am grateful for your patient answers。
best wish to you

[2019-01-16 16:11] 599177227 commented on #3
I am very sorry to trouble you again，I follow the installing steps you give  ，but i meet the problem in the first step，I  failed to open the BuildWindowsVS2015 on Console windows，the problew as folling ：

![problem](https://user-images.githubusercontent.com/45118875/51262024-6f317800-19ec-11e9-90b7-a017d3bb9ca4.png)

[2019-01-16 16:17] takuya-takeuchi commented on #3
You must execute in root directory to restore openpose before build OpenPoseDotNet.Native.

[code]

[2019-01-16 16:33] 599177227 commented on #3
Please forgive my ignorance，I don‘t what you meant，how to excute ？and  what is `git submodule updata`  ，I can’t found it on my root directory to restore openpose.

[2019-01-16 22:02] takuya-takeuchi commented on #3
ok. Do you install git on windows?

1. move to OpenPose Root dir
[code]
2. execute this command to restore D:\OpenPoseDotNet-1.40.020190117\openpose dir. openpose dir is git submodule directory. This diretory links https://github.com/CMU-Perceptual-Computing-Lab/openpose
[code]
3. Build openpose
[code]

[2019-01-17 03:44] 599177227 commented on #3
And if I build and execute the OpenposeDemo,There are also some problems  as follow:
![image](https://user-images.githubusercontent.com/45118875/51294092-66708e80-1a4c-11e9-8569-60a069d94465.png)
![image](https://user-images.githubusercontent.com/45118875/51294281-370e5180-1a4d-11e9-964e-f5fc5cd23b32.png)

[2019-01-17 13:52] takuya-takeuchi commented on #3
WholeBodyFromImage must be specified image file path.

[code]

And do you install Visual Studio 2015 with C++?
I have never seen this problem.
But if you install visual studio 2017, you can modify BuildVS2015.bat and it is available.

[2019-01-17 14:41] 599177227 commented on #3
yes ，I  install the visual studio 2017 ,So is there something  i should do to modify BuildVS2015.bat. After I specify the image file path ,there is a  other problem as follwing:
![image](https://user-images.githubusercontent.com/45118875/51325888-e6c4dd00-1aa8-11e9-8ded-0ec311b4c415.png)

[2019-01-17 15:00] 599177227 commented on #3
yes ，I install the visual studio 2017 ,So is there something I should do to modify BuildVS2015.bat.

[2019-01-17 16:06] takuya-takeuchi commented on #3
In bat file,

[code]
to
[code]

[2019-01-18 13:11] 599177227 commented on #3
OKay ，thank you very much for your answer！

[2019-01-19 04:37] 599177227 commented on #3
Hello，I am very sorry to trouble you again，I met the problem when I  use the OpenPose NuGet. I bulit the project and reference the NuGet Package,then I copy  All Codes from one example of Your OpenPoseDemo（KeyPointsFromImageConfigurable),in the end I build the prroject , the project will show a console Windows in a flash ,the information was listed below,and I try to use console to build the proje

[2019-01-19 06:40] takuya-takeuchi commented on #3
You 'ONLY' copy demo project to other directory?
If so, you must modify ****.csporj.

Because sample project refers OpenPoseDotNet project by relative path.
So copied project could not read OpenPoseDotNet project.

And could you translate error message to english or paste error message here?
I cannot understand Chinese and input it to translater because I don't know how to read them.
(I am Japanes

[2019-01-19 07:09] 599177227 commented on #3
Sure，The red font are translated to follow：
Wúfǎ yùnxíng xiàngmù
qǐng quèbǎo nǐ jùyǒu kě yùnxíng de xiàngmù lèixíng qiě “dotnet run” zhīchí cǐ xiàngmù.
Kě yùnxíng de xiàngmù yīng miànxiàng kě yùnxíng de TFM(lìrú netcoreapp2.0) Qiě qí OutputType wèi “Exe“.
Dāngqián de OutputType wèi”Exe“
展开
114/5000
Unable to run project
Make sure you have a working project type and "dotnet run" supports this proje

[2019-01-19 07:10] 599177227 commented on #3
I don't exactly know what you meant,my root directory don’t have any ****.csporj file.

[2019-01-19 07:17] 599177227 commented on #3
If my expression makes you unable to understand, please forgive my limited English level.

[2019-01-19 07:20] takuya-takeuchi commented on #3
Don't worry. My english is also not good. :)

OK. Where is your repository? Is it correct ?
https://github.com/599177227/FacialDetected

[2019-01-19 07:39] 599177227 commented on #3
No ，that is wrong ，the file which is named OpenposeBody   is uploading ，please wait .

[2019-01-19 09:31] 599177227 commented on #3
Now it is Ok, you can download at the Release Page in Openpose .please help me  check it ，thank you ！

[2019-01-19 09:51] takuya-takeuchi commented on #3
OK.
OpenposeBody is created as .NET Framework 4.7.2 project.
But our sample is created as .NET Core console app.

So dotnet commands does not work for OpenposeBody.
You should re-create project as .NET Core console app if you want to use dotnet command.

[2019-01-19 09:58] 599177227 commented on #3
Thank you ，I have received it，I will give it a try.

[2019-01-19 13:13] 599177227 commented on #3
Hello,Could I ask you another problem?I want to know the OpenPose API  <openpose/flags.hpp>is what?
why I can't found it? Could you tell me ?
![image](https://user-images.githubusercontent.com/45118875/51427137-bd35be00-1c2e-11e9-9433-5f785aa9ccdb.png)
I am sorry to bother you again！

[2019-01-20 10:19] 599177227 commented on #3
Hello, can I ask a question about the C++ API used in C#? I used the openpose source code and compiled the first API dll. I introduced it to my C# code, but it reported this error. Have you ever met it? I don't know what is configured less?
can you help me?
![image](https://user-images.githubusercontent.com/45118875/51437917-da769500-1cdf-11e9-80f9-ff5c80ae60b9.png)
![image](https://user-images.gi

[2019-01-20 10:20] 599177227 commented on #3
thank you sincerely！

[2019-01-20 11:10] takuya-takeuchi commented on #3
OpenPose needs Caffe model files.
This files are generated when building openpose. (Not building OpenPoseDotNet!!!!)
Please check OpenPoseDotNet\openpose. You could see model directory.

[2019-01-20 11:19] 599177227 commented on #3
Thank you very much for solving a problem that I have not been able to solve. Thank you very much!

[2019-01-21 11:48] 599177227 commented on #3
Hi，friend，there is another problem  bothered me thoese days，Why my project sometimes run so well，but sometime it will occur error and I can‘t fit it，I don’t know why and how to solve it ，could you give me some instrutions about it ，the problem  as following ：
![image](https://user-images.githubusercontent.com/45118875/51472770-64dcf880-1db5-11e9-88bd-a4ca2dacc6a3.png)

[2019-01-21 15:15] takuya-takeuchi commented on #3
Is it OpenPoseDotNet sample?
It looks like to be https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/examples/tutorial_api_cpp/01_body_from_image_default.cpp.
I have no idea to resolve issue.

But it indicates https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/include/openpose/core/wScaleAndSizeExtractor.hpp#L68.
It seems input image becomes sometimes empty size.

[2019-01-22 05:37] 599177227 commented on #3
No,it is not a sample of OpenPoseDoNet,I only want to wrapper the C++ to the dll for C#,but if I set the fuction return a void ,this is ok, if I set it to return cv::Mat,that is a Unknow problem,the detail  codes as following ：
![image](https://user-images.githubusercontent.com/45118875/51514160-8091de80-1e49-11e9-88dc-50096107df09.png)
![Uploading image.png…]()

I now implement a painting of the

[2019-01-22 13:57] takuya-takeuchi commented on #3
It means there is not 01_body_From_image_default.dll or it's depenecies lib.
How about using dependency walker to inspect missing library?

[2019-01-24 12:08] Vindicom opened #4 "Lib usage"
Hello, one question about lib usage. I would like to use c# Bitmap (or raw image data array) as the way to communicate with your openpose wrapper (right now Mat is used but it is not clear how to convert Bitmat to Mat and vice versa). Do you maybe have an example code in c# showing how to do that?

[2019-01-24 14:51] takuya-takeuchi commented on #4
No. There is no way to convert bitmap image to Mat class in openposedotnet for now.
But op_wrapper_emplaceAndPop_rawImage is in OpenPoseDotNet.Native. It is experimental and I did not test yet.

So I am able to choice the following approach.

1. expose op_wrapper_emplaceAndPop_rawImage as wrapper method
2. Refer https://www.nuget.org/packages/System.Drawing.Common/4.5.1 and you can treat Bitmap di

[2019-01-24 15:38] Vindicom commented on #4
OK, I understand & I'll try to connect to op_wrapper_emplaceAndPop_rawImage (I see that it just creates Mat wrapper around the array which is good enough).
One more question. Result of the algorithm (i.e. Mat object) will be placed in element with the name CvOutputData. I can see that Mat only have native pointer. Do you maybe know how can I come to the data array of the calculated image using thi

[2019-01-24 22:38] takuya-takeuchi commented on #4
Basically user needs not to consider NativePointer.
So I conseal NativePointer property.

Therefore, it is better to expose methods to convert to byte[] or Bitmap in Mat class.
Does it satisfy your requirements?

[2019-01-25 07:42] Vindicom commented on #4
Adding conversion methods to your Mat would be great.

[2019-01-25 10:31] Vindicom commented on #4
One more comment... it is probably easier to just export raw byte array. Then you can construct the Bitmap on the managed side. Assumption is that openpose will not change width, height or format of the bitmap that is given as input to op_wrapper_emplaceAndPop_rawImage.
And just to clarify the use case... we are talking about enabling the streaming use case with your wrapper and openpose. Thanks!

[2019-02-01 11:47] takuya-takeuchi commented on #4
How do you create raw image byte[]?
If you create it from System.Drawing.Bitmap or BitmapSource, it contains padding. So it occurs problem.

No

This C++ wrapper creates cv::Mat instance and it is passed to openpose procee in function but it may be destruct even though it was passed to openpose. I guess this cv::Mat maybe should be cv::Mat*.

Could you show the your code to reproduce issue?

[2019-02-01 12:08] Vindicom commented on #4
Size of bitmap array is exactly width*height*3 bytes so that looks ok... But I suspect that maybe my dll export is maybe done in wrong way... Can you please check?... Below are signatures of both versions of emaplaceAndPop:

`        [DllImport(NativeMethods.NativeLibrary, CallingConvention = NativeMethods.CallingConvention)]
        public static extern IntPtr op_wrapper_emplaceAndPop_cvMat(OpenP

[2019-02-01 13:42] takuya-takeuchi commented on #4
I tried Wrapper<T>.EmplaceAndPop(byte[] image, int width, int height, int type).

[code]

It works fine.
At first, I passed wrong value as int type. It produded same issue you faced.
This time. type was 17. Correct value is 16. I guess your CV_8UC3 may be wrong value.

[2019-02-01 13:49] takuya-takeuchi commented on #4
Could you test 334341e80757226107b7353201a379d87c1c6c69?
**1_BodyFromImage_Bitmap** example uses new EmplaceAndPop.

[2019-02-01 14:08] Vindicom commented on #4
You are right, had a wrong value for CV_8UC3. Number 16 is correct. It is working for me also.
By the way, just to confirm, IntPtr when passing array also works (on C# side you need to pin the array and get the pointer). E.g.

`        public StdSharedPtr<StdVector<T>> EmplaceAndPopRawImage(IntPtr data, int width, int height, int type) {
            if (data == null)
                throw new Argu

[2019-02-01 14:19] takuya-takeuchi commented on #4
You are right. But IntPtr is not used for VB.NET. I don't want to expose IntPtr signature as much as possible.
And byte[] is Bittable type. So CLR marshaller make good. Sure, do pinning also.
You can refer https://docs.microsoft.com/ja-jp/dotnet/framework/interop/blittable-and-non-blittable-types

[2019-02-01 15:55] Vindicom commented on #4
Yes, I agree byte[] is OK.

I am having problems now accessing Array<float> values where pose key points are stored. There are two problems I see:
1. I can't get to the values using Array<float> indexer i.e. [] operator.
2. Most of the times I can get to values using Array<float>.toString() (and I see correct values), but sometimes this method goes into memory access violation exception.
Before I

[2019-02-03 03:03] takuya-takeuchi commented on #4
Hi. I added Mat,ToBitmap and Wrapper.EmplaceAndPop(Bitmap) to latest develop branch.
Give it a try!!

Do you have a image file which be able to reproduce issue?
Or you faced issue while using webcam? If so, it is difficult to resolve issue.

[2019-02-03 21:11] Vindicom commented on #4
OK, thanks, I will try it.

The problem is not in the image... image is processed OK, but afterwards, calculated key points can't be accessed using indexer of Array< float >. By the way,

[2019-02-03 22:16] takuya-takeuchi commented on #4
Just in case, could you check the https://github.com/takuya-takeuchi/OpenPoseDotNet/blob/master/examples/TutorialApiCpp/8_SynchronousCustomOutput/WUserOutput.cs ?
This sample works fine. And I have never seen problem you faced.

I doubt Array object is corrupted by GC.

[2019-03-31 09:55] takuya-takeuchi opened #5 "OpenPoseObject's unmanaged Dispose leaks"
### Same issue
https://github.com/takuya-takeuchi/DlibDotNet/issues/92

[2019-04-13 18:27] takuya-takeuchi commented on #5
It should not be fixed.
Because .net garbage collector collect OpenPoseObject and it may dispose unmanaged object.
It means that AccessViolation may occur.

[2019-09-30 08:17] malhosary opened #6 "Can't Compile OpenPoseDotNet.Native"
Dears,
I just got the latest version of the code and couldn't build OpenPoseDotNet.Native. I was able to build OpenPose.dll successfully.
OS: Windows 10 64-bit
VS: 2017
GPU: nVidea GTX 1050 Ti
![image](https://user-images.githubusercontent.com/41121043/65860765-3adbcd00-e36b-11e9-9376-41fdf5a86d93.png)

Could anyone support please?

I also tried to use the OpenPoseDotNet.Native dll in a test proje

[2019-10-01 12:51] takuya-takeuchi commented on #6
I retried the following steps again.

## Initialize

[code]

## Confirmation

[code]

## Build

[code]

It works fine.

## Error

You must deploy the following bionary to same directory of OpenPoseDotNet.Native

[code]

[2019-10-01 17:57] malhosary commented on #6
@takuya-takeuchi : Thanks a lot for your support, it works now for me.
For me, i think the issue was in CUDA 10.0, we should use CUDA 9.2

[2019-10-01 21:51] #6 closed

[2019-10-01 22:05] malhosary opened #7 "How to Play Video?"
I am trying to work with a video (video.avi that is included in the OpenPose project source) in the sample project `1_CustomPostProcessing` but i get the following error:

FYI: Web Camera & Image file are working fine.
I have copied all required DLLs & the OpenPoseDemo.exe (that is included in the OpenPose) is working with the same video without issues.

OS: Windows 10 64 bit
CUDA: 9.2

[2019-10-02 15:06] takuya-takeuchi commented on #7
![image](https://user-images.githubusercontent.com/6241854/66055351-5ebc3000-e570-11e9-9346-83d73bad8d9d.png)

[code]

It works fine while running from IDE.

But running from command line, it output error.
It loos like not recognizing video file path.

[code]

[2019-11-14 04:32] bydaniel opened #8 "Not work with RTX 2080ti GPU"
HI,

I thank you for your effort on this. This wrapper is very useful.

By the way, I've recently upgraded my GPU to Geforce RTX 2080Ti, but I couldn't run the library, which worked fine on the previous graphic card. I found that this issue was resolved in the lastest OpenPose version.

Do you have any plan to update the library to use the latest OpenPose? Thank you in advance.

[2019-11-14 11:39] takuya-takeuchi commented on #8
Recently, I didn’t check openpose code.
So I need time to catch up openpose code.

BTW, could you tell me revision openpose supports latest gpu?

[2019-11-14 14:57] bydaniel commented on #8
Thank you for the quick response!

I'm using the latest one, "20d8eca" revision for OpenPose. They say this new version has a faster and more accurate tracking capability than before. I'm looking forward to your update! Very excited!

[2019-11-14 15:07] takuya-takeuchi commented on #8
@bydaniel
thanks.
I found the openpose issue.
https://github.com/CMU-Perceptual-Computing-Lab/openpose/issues/1290

And revision is https://github.com/CMU-Perceptual-Computing-Lab/openpose/commit/559a57ec436f28ebdc29b2d27d5d075604fd1239

Ops, 129 commits behind openpose master. hahaha

[2019-11-14 15:23] bydaniel commented on #8
I'm glad you found the issue on OpenPose.

So, how long do you think it'll take for you to apply the new OpenPose for this OpenPoseDotNet?

[2019-11-16 12:16] takuya-takeuchi commented on #8
@bydaniel
I caught up latest revision. on 3bda13acca9b41fc79033d75af91763b94b05e1f.
Please build on develop branch and have a try.

And please close this issue if it works on RTX 2080Ti.

[2019-11-18 04:51] bydaniel commented on #8
Thanks Takuya,

I will give it a try on the latest version and let you know how it goes. Thanks for your help!

Daniel

[2019-11-20 03:58] bydaniel commented on #8
I have compiled the latest version, but I failed to run. When I run OpenPoseDemo, it gives me an exception of "Unable to load DLL 'OpenPoseDotNetNative': The specified module could not be found. (Exception from HRESULT: 0x8007007E)".

Also, I don't know why the output file of the OpenPoseDemo project is the OpenPoseDemo.dll, not an executable file.

Any suggestions?

[2019-11-21 03:07] takuya-takeuchi commented on #8
@bydaniel
Did you use CopyOpenPoseOnlyNative.bat?
It includes wrong command.
You may need to correct it.

And this sample is .net core app.
So output binary does not have .exe.

[2019-11-21 04:07] bydaniel commented on #8
I found the source of the problem. As you mentioned, there were some typos in CopyOpenPoseXX.bat files. After I manually copied all the dlls, it runs correctly.

Thank you so much for your help. Really appreciated.

[2019-11-21 04:07] #8 closed

[2020-03-10 22:30] bruce987 opened #9 "Nuget Package Issue"
Hi Takuya,

I installed the OpenPoseDotNet package, version 1.4.0.20190117, I then took some example code and put it in my own application to understand the API. The application is .NET Core3.1 console application, I'm using VS2019 Enterprise.

When I run my application I get "Unable to load OpenPoseDotNetNative". I found the DLL in

**C:\Users\bruce\.nuget\packages\openposedotnet\1.4.0.20190117\r

[2020-03-10 22:37] takuya-takeuchi commented on #9
@bruce987
NuGet package does not contain openpose.dll and its dependencies.
You have to build and copy them to app directory.

Quick start show how to build and deploy.
https://github.com/takuya-takeuchi/OpenPoseDotNet#quick-start

[2020-03-10 22:43] bruce987 commented on #9
Hi Takuya,

Ok I will give that a try. Are there any plans to put out a nuget package that has all the dependencies? It would be nice.

Thanks,
Bruce

[2020-03-10 22:45] bruce987 commented on #9
Another suggestion would be to provide different build packages for VS2015 thru VS2019. I don't have VS2015 so I will have to modify the bat file and hopefully don's screw it up then have to bother you again.

[2020-03-10 22:58] bruce987 commented on #9
Well I found 2 BuildWindowsVS2015.bat files. The first one was at the head of the distribution and the second one was in src\OpenPoseDotNet.Native folder. I created 2 new BuildWindowsVS2019.bat files in each locations. The first at the top folder was looking for openpose folder. I then tried the 2nd one and it wants to work, but I get the following errors...

![image](https://user-images.githubuse

[2020-03-11 14:08] takuya-takeuchi commented on #9
@bruce987

No. openpose is not MIT, BSD or LGPL. license does not allow us to use on commercial usage.
It means that we should not distribute/publish copy of binaries. I can not take any legal risk.

BTW, master branch is a bit old. You should use develop branch.
And did you do `git submodule update --init --recursive`?

[code]

I tried building by VS2019 and it was successful.

[2020-03-11 16:15] bruce987 commented on #9
I realized that I had been downloading the zip and not cloning. So the first command failed. I then cloned and got everything to work except the following error occurred due to CUDA configuration.

![image](https://user-images.githubusercontent.com/1581231/76438813-7d2d1f80-6389-11ea-8c89-27abefddfa3f.png)

[2020-03-11 16:42] bruce987 commented on #9
At the time I had CUDA 8.0, 10.0 and 10.1 installed. When I looked at the host_config.h for both 10.0 and 10.1 they were different when checking for Visual Studio versions. 10.1 checks for 2019 while 10.0 stops at 2017. I went ahead and uninstalled all references to 10.0, then removed the OpenPoseDotNet and cloned again. This time it found 10.1 and it seems to be working now.

Your commands provid

[2020-03-11 16:47] bruce987 commented on #9
I modified the BuildWindowsVS2019.bat to the same as VS2015, excerpt of course the cmake command. When I run it, I get the following error:

**D:\Projects\OpenPoseDotNet\src\OpenPoseDotNet.Native>BuildWindowsVS2019.bat Debug
CMake Error: The source directory "D:/Projects/OpenPoseDotNet/src/OpenPoseDotNet.Native/openpose" does not appear to contain CMakeLists.txt.**

[2020-03-11 16:50] bruce987 commented on #9
I copies the CMakeLists.txt to openpose folder. Ran the BuildWindowsVS2019.bat file. Now I get the following error:
![image](https://user-images.githubusercontent.com/1581231/76442116-6dfca080-638e-11ea-960b-f371ea1f4d02.png)

[2020-03-11 22:53] takuya-takeuchi commented on #9
You should not copy CMakeList.txt to openpose dir.
Could you show me your BuildWindowsVS2019.bat?

[2020-03-12 00:15] vpenades opened #10 "Problems compiling the project."
First of all, thanks a lot for trying to bring OpenPose to .NET!

I've been trying to use it without success....

I cloned the repository and tried to follow compile instructions: but I noticed that OpenPose directory is empty (it seems it's not pulling the external dependency)

So I did it manually... but then, it gives a lot of errors because either I didn't pick the right version of OpenPose (I

[2020-03-12 15:02] takuya-takeuchi commented on #10
Related to #9

[2020-03-12 15:28] takuya-takeuchi commented on #10
Latest code is develop branch and it refer https://github.com/CMU-Perceptual-Computing-Lab/openpose/tree/254570df262d91b1940aaf5797ba6c5d6db4b52f.
It is newer than 1.5.1.

Lastet develop branch resolve this isseu.
Build.bat call `git submodule` command to restore openpose source code.
However I know my instruction is not friendly so I will revise it.

No. Same reason.
https://github.com/takuya-tak

[2020-03-12 15:28] takuya-takeuchi opened #11 "Revise install and build instruction"

[2020-03-12 16:07] vpenades commented on #10
Something that could be useful is to have a full list of directories and files of OpenPose required to run the demo, so we could check if something's missing or in the wrong place.

I'm not asking about the binaries themselves, but the file listing, something like this:

[code]

[2020-03-12 16:42] bruce987 commented on #9
Here's the build script in the top level folder:

[BuildWindowsVS2019.bat.txt](https://github.com/takuya-takeuchi/OpenPoseDotNet/files/4325430/BuildWindowsVS2019.bat.txt)

[2020-03-12 17:25] bruce987 commented on #9
[BuildWindowsVS2017.bat.txt](https://github.com/takuya-takeuchi/OpenPoseDotNet/files/4325595/BuildWindowsVS2017.bat.txt)

[2020-03-12 22:53] takuya-takeuchi commented on #9
@bruce987
Ok, I will upload new powershell core build scripts.
It supports to specify vs version.
Windows batch is too legacy.
Maybe it will get to be complete on this weekend.

[2020-03-13 16:03] bruce987 commented on #9
I encountered too many problems with my laptop:

1. I installed only cuda 9.1 which was compatible with the driver.
2. I then installed VS2017 thinking that would work.
3. I created the Build script for VS2017.
4. It finds cuda 9.1, but finds VS2019 and faults because cuda 9.1 is not compatible with that
    version.

Next I tried my home desktop:

1. I installed cuda 10.2 and removed all other ve

[2020-03-15 12:53] takuya-takeuchi commented on #9
@bruce987
I updated develop and master branch.
You can build windows binary by using visual studio and cuda version you prefer.

[code]

After build, you should see artifacts in src\OpenPoseDotNet.Native\build_win_desktop_<cpu/cuda>_x64<Debug/Release>.

You need not to reinstall CUDA and visual studio.

P.S.
Please close this issue if your issue is resolved.
Thank you.

[2020-03-16 21:01] bruce987 commented on #9
I tried to build it on my laptop. I have Cuda 9.1 and VS2017 installed.

I get the following error:

![image](https://user-images.githubusercontent.com/1581231/76799223-236c9100-679f-11ea-95af-78b93462c994.png)

Once I get it built, what do I do? Copy DLL's? Copy where?

Thanks

[2020-03-16 23:34] bruce987 commented on #9
I also logged into my work pc and cloned again and them followed your steps, except this time I choose 2019 and 101. I wasn't sure what the 92,100,101 referred to, it wasn't obvious at first. I looked at the BuildUtils.ps1  file and noticed that it refers to the Cuda version. Well on my Work and Home PC's I have 10.2, so I guess you need to update to include 102. I did update the BuildUtils.ps1 an

[2020-03-17 17:18] bruce987 commented on #9
@takuya-takeuchi

Here's the latest on trying to build on my laptop. I realized that CUDA 9.1 was not supported by cuDNN, so I uninstalled it and installed CUDA 9.0. Cloned OpenPoseDotNet and followed the new instructions you provided. It almost builds, but then gets the following error:

![image](https://user-images.githubusercontent.com/1581231/76882605-e2c95200-6848-11ea-8083-f9c5abb68fdf.png)

[2020-03-18 15:23] bruce987 commented on #9
@takuya-takeuchi

Have you given up on me?

-Bruce

[2020-03-18 16:17] takuya-takeuchi commented on #9
@bruce987
no, i will work on this issue.
but i'm very busy now.

thank you for your cooperation.

[2020-03-19 15:28] bruce987 commented on #9
@takuya-takeuchi

Thanks for helping out. I've pretty much have come to the conclusion that my DELL XPS laptop, which is now going on 7 years, needs to  be replaced. I'm in the process of discussing this my company president about getting a new laptop. When I do I will close this issue.

[2020-03-27 20:23] bruce987 commented on #9
@takuya-takeuchi

FYI,

I got a new laptop... HP Omen. I installed CUDA 10.(0,1,2) and VS2019. I cloned OpenPose and attempted to build it; Note this is not your project. When I tried to build it I noticed an warning that said only VS 2013 through VS2017 was supported. So I installed VS2017 and it built correctly and works. I then did the same with OpenPoseDotNet; it also built.

[2020-03-27 20:23] #9 closed

[2020-04-01 22:34] bruce987 opened #12 "Unable to load DLL 'OpenPoseDotNetNative'"
Hi takuya-takeuchi,

I have been able to build and run the original OpenPose C++ on my new laptop. I have since been trying to get the OpenPoseDotNet to work. I have taken some code from one of the examples, built it, but when I run it I get the dreaded "Unable to load DLL" or one if its dependencies. I located a "Dependencies" tool and loaded the DLL into it. Here's the link for the tool https://

[2020-04-03 22:45] bruce987 commented on #12
I have no clue why this error is happening. I'm trying to take some code from one of the examples and load it into my .NET application using your library. Basically I'm trying to do what OpenPose demos does (the one from CMU labs).

[2020-04-03 22:53] bruce987 opened #13 "Issues with Examples"
Hi takuya-takeuchi,

I've been messing with this for a few weeks now. Today I started fresh and used your original steps to build it. One of the problems I see is in the steps "Try Tutorial". The first one "01_BodyFromImageDefault" shows these steps...

All of the others show the following steps...

Noticed that the SymlinkBinary.bat file leaves out the second argument. After fixing the error in e

[2020-04-11 03:18] takuya-takeuchi commented on #12
@bruce987
Very sorry late reply. We world are just focusing to beat threat of COVID-19. Thank you for your patient.

Yes. My dev machine is latest windows.

The following is result of dependencies for OpenPoseDotNet.Native.dll.

![image](https://user-images.githubusercontent.com/6241854/79033996-b5748780-7bed-11ea-8b8d-3de9606527d2.png)

But there is no dependency issue.
This weird issues is repor

[2020-04-11 03:22] takuya-takeuchi commented on #13
@bruce987
Yeah, you are correct. README.md and bat file explanation have fucking wrong.
OK, let me fix it.

Thanks.

[2020-04-11 04:12] takuya-takeuchi commented on #13
### NOTE

* README.md
* SymlinkBinary.bat
  * Add check whether argument is passed or not
  * Fix link to examples and models directory

[2020-04-11 06:12] takuya-takeuchi commented on #13
Corrected document and script.
Please get latest code from develop branch.
Replace SymlinkBinary.bat with ymlinkBinary.ps1.

Just in case, please delete bin, examples, models and obj from each example directory before run SymlinkBinary.ps1.
Because wrong  symlink path occurs issue you faced to.

[2020-04-11 19:26] bruce987 commented on #13
@takuya-takeuchi

I pulled the development branch. Cleanup the folders of bin, obj, models, and examples. I ran powershell as administrator and got the following error:
![image](https://user-images.githubusercontent.com/1581231/79053102-5d934c00-7c00-11ea-9e3d-f35f3601e99c.png)

[2020-04-11 19:31] bruce987 commented on #12
@takuya-takeuchi

Yes I'm on Windows 10 1909 release. My investigation indicates that the *-wow-* dll's are no longer installed on Windows latest release, which I verify is accurate.
I had to change the extension to txt, dll is not supported download type.
[OpenPoseDotNetNative.dll.txt](https://github.com/takuya-takeuchi/OpenPoseDotNet/files/4465265/OpenPoseDotNetNative.dll.txt)

[2020-04-12 02:26] takuya-takeuchi commented on #13
@bruce987
Your machine does not allow you to execute untrusted scripts.
Please check and follow the this page.
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-executionpolicy?view=powershell-7

[2020-04-12 02:36] bruce987 commented on #13
Ok I’ll do it tomorrow... it’s late here in Texas and I’ve had a few beers!

Sent from my iPhone

[2020-04-12 02:41] takuya-takeuchi commented on #12
@bruce987
This is your built library.

![スクリーンショット 2020-04-12 11 34 43](https://user-images.githubusercontent.com/6241854/79059141-b5d65680-7cb1-11ea-9a0a-3d30dfc0e1eb.png)

However, there is no issue.
Uhh.. My dev machine is not installed as clear install.
It may mean that -wow- dll's remains from old version windows.
So I should create new 1909 machine as Hyper-V and test it.

[2020-04-12 03:00] bruce987 commented on #12
If you open the first link and drill down you might see an error. The interesting thing is the OpenPose library shows the same issue, but runs without issue... that’s what has me baffled!

Sent from my iPhone

[2020-04-12 18:48] bruce987 commented on #13
I changed the security policy and it now runs, but doesn't find one of the boost libraries:
![image](https://user-images.githubusercontent.com/1581231/79077064-1a9aac80-7cc4-11ea-80da-c6a1cf354e5d.png)

...and here is the build folder
![image](https://user-images.githubusercontent.com/1581231/79077088-5170c280-7cc4-11ea-948c-556a521d5078.png)

[2020-04-13 09:32] takuya-takeuchi commented on #13
Ok, I understand.
I used VS 2015 and it created vc140.dll.
Sorry, I forgot to consider version of VS.

[2020-04-13 16:01] bruce987 commented on #13
I have you considered moving the SymlinkBinary.ps1 up two folders, "examples". Then when it is run it applies all the necessary data setup for all examples. This way you don't need to maintain multiple script files.

[2020-04-14 17:23] bruce987 commented on #13
Hey Takuya,

I did some research on the OpenPose application (not your DotNet Library). My laptop now has VS 2015, 2017 and 2019 installed on it. It has Nvidia RTX 2080 graphics card. I cloned openpose and built it using their recommended approach which is cmake-gui. I also have CUDA 10.0, 10.1, and 10.2. CUDA 10.0 was the initial version referenced.

I cloned openpose and built it using VS2015. I

[2020-04-30 17:27] bruce987 commented on #12
@takuya-takeuchi ,

Since I was able to load and run your 'examples\TutorialApiCpp\01_BodyFromImageDefault'; I took that build libraries and put them into my application that I'm building. This runs basically without issues.

...but I have another question which I will open a new issue.
-Bruce

[2020-04-30 17:27] #12 closed, assigned to takuya-takeuchi

[2020-04-30 17:29] bruce987 commented on #13
@takuya-takeuchi

I modified the SymlinkBinary.ps1... I removed the dll's that it couldn't find. That fixed the problem.

-Bruce

[2020-04-30 17:29] #13 closed, assigned to takuya-takeuchi

[2020-04-30 17:47] bruce987 opened #14 "OpenPoseDotNet not playing well with OpenCvSharp4"
Hi Takuya,

I have an application that uses OpenCvSharp4. I use it for its camera video capture. I'm using your OpenPoseDotNet to essential do the same thing as the OpenPose demo does... capture video and outline person(s).

The problem is OpenCvSharp4 generates a **OpenCvSharp.Mat** object. The OpenPoseDotNet is looking for an **OpenPoseDotNet.Mat** object. I've attempted to convert the **OpenCvS

[2020-05-01 21:40] takuya-takeuchi commented on #14
@bruce987
No. OpenPoseDotNet does not expose VideoCapture interface of opencv.
We must export it into OpenPoseDotNet.Native and add p/invoke to OpenPoseDotNet.

I think you want really to create Mat object from OpenPoseDotNet.
So

1. expose opencv::Mat::data method and add p/invoke to OpenPoseDotNet.
2. You read mat data from OpenPoseDotNet.Mat.data  and write it to OpenCV4.Mat.

[2020-05-01 21:45] takuya-takeuchi commented on #14
Sorry. We already exposed op_3rdparty_cv_Mat_data but Mat.data does not exist.

[2020-05-01 21:47] bruce987 commented on #14
Thanks for the response. I will take a look at doing that.

Currently I have the image (OpenPose Mat) using this call…

using var opMat = OpenPose.OP_OP2CVCONSTMAT(temp[0].Get().CvOutputData);

I’ve tried taking the “opMat” object and converting it back to a OpenCv Mat object.

The conversion process does this…

var cvMat = new OpenCvSharp.Mat(rows, cols, MatType.CV_8UC3, image.NativePtr);

That d

[2020-05-01 21:49] bruce987 commented on #14
I was hoping the Producer code would have the VideoCapture interface, but It doesn’t look like its complete.

From: Takuya Takeuchi <notifications@github.com>
Sent: Friday, May 1, 2020 4:46 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuchi/OpenPoseDotNet] OpenPos

[2020-05-01 21:53] takuya-takeuchi commented on #14
openpose complete conseal videocapture interface, so I reluctant to expose it from OpenPoseDotNet.

What is `image`?
NativePtr is not raw image data but image class object pointer.

[2020-05-01 22:00] bruce987 commented on #14
I was hoping the Producer code would have the VideoCapture interface, but It doesn’t look like its complete.

openpose complete conseal videocapture interface, so I reluctant to expose it from OpenPoseDotNet.

Well one of the awesome demo’s that the OpenPose developers show is the live VideoCapture… I’ve demonstrated this at work and everyone was excited. We investigating this technology for NASA.

[2020-05-01 22:23] bruce987 commented on #14
Here’s some of my complete methods…

private static void Display(int rows, int cols, StdSharedPtr<StdVector<StdSharedPtr<Datum>>> datumsPtr)

        {

            try

            {

                // User's displaying/saving/other processing here

                // datum.cvOutputData: rendered frame with pose or heatmaps

                // datum.poseKeypoints: Array<float> with the estimated

[2020-05-01 22:43] takuya-takeuchi commented on #14
Sorry. I'm not familiar with English.
In conclusion, you want me to do the following, right?

1. Add VideoCapture interface
2. Resove conversion issue from OPDN.Mat to OpenCVSharp.Mat
   * I think I should only expose Data property.

[code]

[2020-05-01 22:49] bruce987 commented on #14
That’s ok about the English…

I would prefer to have VideoCapture, then I can eliminate all of the conversions from OpenCvSharp and OpenPoseDotNet. This would provide a similar functionality like the CMU-Perceptual-Computing-Lab/openpose version.

In the meantime if doing #2 could be done quicker and provide a more robust API, that would be great.

-Bruce

From: Takuya Takeuchi <notifications@gith

[2020-05-01 23:10] takuya-takeuchi commented on #14
It may seem like I'm repeating myself.
Does this code not satisfy your requirements?

Flags,Video can accept video file path.
Flags.Camera is vidoe index and it is similar with VideoCapture.
Flags.IpCamera is address of network camera (HTTP or RSTP)

[code]

Or you can use OpenPoseDotNet.Cv.ImShow.

Anyway, you look like to need not converting to OpenCV.Mat for only showing image as Window.

[2020-05-01 23:17] bruce987 commented on #14
That’s ok, it’s hard to find all the different API’s for a library that I’m not familiar with.

I can try that. For Flags.IpCamera I’m using a WebCam, not sure what RSTP means?

I will try the Cv.ImShow, but that didn’t seem to work, because I was using the OpenCvSharp library. This is where I was having to convert the different ‘Mat” objects. If I can hook up my webcam with OpenPoseDotNet that wi

[2020-05-01 23:25] takuya-takeuchi commented on #14
Sorry. typo. RSTP is RTSP.

For WebCam, you should use Flags.Camera rather than Flags.IpCamera.
IpCamera means network camera which requires LAN cable.

[code]

[2020-05-01 23:29] bruce987 commented on #14
For the var tie =  OpenPose.FlagsToProducer(Flags.ImageDir, Flags.Video, Flags.IpCamera, Flags.Camera, Flags.FlirCamera, Flags.FlirCameraIndex);

I’m not using ImageDir, IpCamera, FlirCamera, FlirCameraIndex. What do I do for those flags?

From: Takuya Takeuchi <notifications@github.com>
Sent: Friday, May 1, 2020 6:26 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: br

[2020-05-01 23:37] bruce987 commented on #14
My CameraCapture looks like this

private static void StartCameraCapture()

        {

            var preferredCamera = ConfigurationManager.AppSettings["preferredCamera"];

            var cameraList = GetCameraList();

            var cameraIndex = GetPreferredCamera(cameraList, preferredCamera.ToLowerInvariant());

            if (cameraIndex != -1)

            {

This is the suggestions you

[2020-05-01 23:45] takuya-takeuchi commented on #14
You can refer examples\TutorialApiCpp\14_SynchronousCustomPreProcessing and examples\TutorialApiCpp\15_SynchronousCustomPostProcessing.
It could use WebCam and display modiied camera image before/after processing.

[2020-05-01 23:50] bruce987 commented on #14
Ok I’m looking at the code. I will try and run it to see what is going on.

From: Takuya Takeuchi <notifications@github.com>
Sent: Friday, May 1, 2020 6:46 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuchi/OpenPoseDotNet] OpenPoseDotNet not playing well with Open

[2020-05-01 23:59] bruce987 commented on #14
Alright I got it running (had to modify the SymlinkBinary.ps1)!!!

Thanks for all the help.

Bruce

From: Takuya Takeuchi <notifications@github.com>
Sent: Friday, May 1, 2020 6:46 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuchi/OpenPoseDotNet] OpenPoseDotNet no

[2020-05-12 15:54] #14 closed, assigned to takuya-takeuchi

[2020-06-09 19:44] bruce987 commented on #5
@takuya-takeuchi

I was revisiting your site to see if there was any new issues and came across this. I've been working with OpenPoseDotNet for awhile now. I'm capturing live video feed of the hand and trying to determine direction. Anyway, if I move my hand into the webcam to adjust it I get an access violation every time. I have a secondary camera on a tripod. I'm just reporting this issue to le

[2020-06-12 01:22] takuya-takeuchi opened #15 "System.AccessViolationException throw if captures hand"
Report from @bruce987

@takuya-takeuchi

I was revisiting your site to see if there was any new issues and came across this. I've been working with OpenPoseDotNet for awhile now. I'm capturing live video feed of the hand and trying to determine direction. Anyway, if I move my hand into the webcam to adjust it I get an access violation every time. I have a secondary camera on a tripod. I'm just rep

[2020-06-12 01:25] takuya-takeuchi commented on #5
@bruce987
I transfer your issue to #15.
This issue is not access violation but memory leak.
Thanks.

[2020-06-12 01:28] takuya-takeuchi commented on #15
@bruce987

* What is Vector2?
  * If this is Unity, perhaps I can not support
* Minimal code to reproduce issue if you can provide

[2020-06-12 16:11] bruce987 commented on #15
@takuya-takeuchi

Vector2 is part of Microsoft's System.Numerics. That class has Vector, Vector2, Vector3, and Vector4... and it is not part of Unity, though Unity does have its own Vector classes.

Here is the method that fails (RetrieveHandData). At this point I'm trying to get Hand movement to determine which direction it's being waved. The first argument is which hand and the second is the dat

[2020-06-13 15:11] takuya-takeuchi commented on #15
@bruce987
One question.
Where does numer of middleJoint2 (10) come from?
I can not find this number from openpose example code.
openpose example does not show how to get hand key points,

[2020-06-13 16:32] bruce987 commented on #15
@takuya-takeuchi

The number for middlejoint2 (10) comes from the OpenPose site itself. Scroll down toward the bottom to see the definition.

https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/doc/output.md

I had to dig around to find it. They explicitly define the Body25 parts, but not for the  face or hand. The show the numeric number for face and hand, but do not actually giv

[2020-06-13 16:40] takuya-takeuchi commented on #15
@bruce987
Wow!!!! Great!! Thanks a lot for your works!!

OK.
Let me check program.

[2020-06-13 17:48] takuya-takeuchi commented on #15
@bruce987
I checked 07_HandFromImage.

![image](https://user-images.githubusercontent.com/6241854/84575553-c5286c00-ade8-11ea-9e62-98dcd2fe8cd4.png)

It works fine.
Did you set true value to Flags.Hand?

This 07_HandFromImage uses this snipet.

[code]
But if this is changed to this, demo crashes due to above watch window value.

[code]

[2020-06-13 18:07] takuya-takeuchi commented on #15
Name of parts for hand.
https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/41d8c087459fae844e477dda50a6f732e70f2cb8/src/openpose/pose/poseParameters.cpp#L182

But where is 0?

[2020-06-13 18:10] bruce987 commented on #15
Ok, let me check my code and look at example 7. I'm doing it a little different. This is my code that initializes the Wrapper.

        private static void ConfigureWrapper(Wrapper<Datum> opWrapper)
        {
            try
            {
                // Configuring OpenPose

                // logging_level
                OpenPose.CheckBool(0 <= Flags.LoggingLevel && Flags.LoggingLevel <= 255

[2020-06-13 18:12] bruce987 commented on #15
Keep in mind I'm capturing a video feed from a webcam and processing in real-time.

[2020-06-13 18:21] takuya-takeuchi commented on #15
OK. But i can not find Flags.HandDetector. It could be 0 as default value.
It may be important.
Because `OpenPose.FlagsToDetector(Flags.HandDetector);` returns different value.

[2020-06-13 18:22] takuya-takeuchi commented on #15
### memo

XXXX = 0,
ThumbCarpometacarpal,
ThumbMetacarpophalangeal,
ThumbInterphalangeal,
ThumbFingerTip,
IndexMetacarpophalangeal,
IndexProximalInterphalangeal,
IndexDistalInterphalangeal,
IndexFingerTip,
MiddleMetacarpophalangeal,
MiddleProximalInterphalangeal,
MiddleDistalInterphalangeal,
MiddleFingerTip,
RingMetacarpophalangeal,
RingProximalInterphalangeal,
RingDistalInterphalangeal,
RingFinge

[2020-06-13 18:27] bruce987 commented on #15
I will change the names next week. The value 10 still works for the middle finger joint.

I tried this...
                Flags.HandDetector = 2;
                var handDetector = OpenPose.FlagsToDetector(Flags.HandDetector);

This causes an early exception. So I put it back to just the FlagsToDetector without setting it to 2, then it works.

[2020-06-13 18:30] bruce987 commented on #15
If you hook up your webcam and run the app. While just looking at the camera, raise your hand so the hand is detected. Then move your hand toward the camera... the exception will occur.

[2020-06-13 18:34] takuya-takeuchi commented on #15
I modified 11_AsynchronousCustomOutput.

[code]

![image](https://user-images.githubusercontent.com/6241854/84576405-7c27e600-adef-11ea-9d8a-c4cd0c0a8268.png)

It works fine while 1 minute running.
I tried

* raise right hand
* raise left hand
* hidd right hand
* hide left hand
* raise both hands

But there is no problem

[2020-06-13 18:34] bruce987 commented on #15
Would like my project that does all this?

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 1:23 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuchi/OpenPoseDotNet] System.AccessViolationException throw if captures hand (#15)

memo

XX

[2020-06-13 18:36] bruce987 commented on #15
Did you try to move your hand to the webcam? I use a Logitech C922 on a tripod. I found the error when I moved my hand to adjust the camera.

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 1:34 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [tak

[2020-06-13 18:40] bruce987 commented on #15
I switched to my laptop webcam, same thing happens.

Maybe in the process of modifying the example I introduced a bug.

If you’re not getting the issue when moving you hand toward the camera, then I have a problem in my project.

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 1:34 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987

[2020-06-13 18:41] takuya-takeuchi commented on #15
What does it mean?
Do you expect that I try the above all code, right? If so, no.

Yes, my webcam Microsoft LifeCam Studio Q2F-00021 can not detect hand first time.
So I tried to move hand to camera and leave from camera to detect hand by openpose.

[2020-06-13 18:42] takuya-takeuchi commented on #15
oh,... I forgot to insert `new [] {0, 10, 0}`

please wait!!

[2020-06-13 18:45] bruce987 commented on #15
I meant would you like a copy of my .net project. I zipped it up, but it includes the OpenPose DLL’s and models which make it very large. So I can’t send with the DLL’s or models.

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 1:43 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mentio

[2020-06-13 18:45] takuya-takeuchi commented on #15
@bruce987
OK, I was able to reproduce your issue.
Uhh.. it is weird.

[2020-06-13 18:47] takuya-takeuchi commented on #15
App crash this scene.

![image](https://user-images.githubusercontent.com/6241854/84576697-c14d1780-adf1-11ea-9a5f-73346c4533f8.png)

[2020-06-13 18:51] takuya-takeuchi commented on #15
@bruce987
I think this issue does not relate to distance between camera and hand.
Perhaps, it may occur when openpose does not detect any parts, face, hand or body.

After this, app crashes.

![image](https://user-images.githubusercontent.com/6241854/84576774-42a4aa00-adf2-11ea-97cf-da52077aa25d.png)

[2020-06-13 18:52] bruce987 commented on #15
Yes the app will run without issues for a very long time, but if you move your hand to the camera... EXCEPTION! I believe it may be happening in the C++ code.

I use a fixed size queue to store 20 data points. The queue is a ConcurrentQueue so its thread safe...

    public class FixedSizedConcurrentQueue<TValue> : IProducerConsumerCollection<TValue>, IReadOnlyCollection<TValue>
    {
        priv

[2020-06-13 18:56] takuya-takeuchi commented on #15
You can check array property.

### Crash

![image](https://user-images.githubusercontent.com/6241854/84576899-09206e80-adf3-11ea-8db0-cf26239c0712.png)

### Normal

![image](https://user-images.githubusercontent.com/6241854/84576902-0faee600-adf3-11ea-93b4-6867097376cc.png)

[2020-06-13 18:57] bruce987 commented on #15
I think you’re on to something. I turned off all pose initialization (body=false, face=false, hand=false). The exception occurs immediately in the accessing of the “handKeyPoints”. I ran it in the VS2019 debugger and put a break point prior to the assignment of var handKeyPoints = datum.HandKeyPoints[1];

When I look at the datum.HandKeyPoints[1] it shows the property Empty as True.

From: Takuya

[2020-06-13 18:58] bruce987 commented on #15
Wow… we’re debugging exactly the same conclusions. I will put a check into my app. I guess the demos may have the same issues.

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 1:57 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuchi/O

[2020-06-13 18:59] takuya-takeuchi commented on #15
[code]

It works fine!!

[2020-06-13 19:01] bruce987 commented on #15
I’m putting in some guards now. This bug has been “bugging” me for a while, but didn’t put it as a high priority.

Thanks,

Bruce

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 1:59 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuch

[2020-06-13 19:05] takuya-takeuchi commented on #15
OK.
Will you fix this issue on your company next week?
Please close this issue.

Thanks a lot for giving happy debugging time :)

[2020-06-13 19:06] bruce987 commented on #15
I’m fixing it now.

I will close the issue.

Thanks again,

Bruce

From: Takuya Takeuchi <notifications@github.com>
Sent: Saturday, June 13, 2020 2:06 PM
To: takuya-takeuchi/OpenPoseDotNet <OpenPoseDotNet@noreply.github.com>
Cc: bruce987 <bruce.w.hochstetler@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [takuya-takeuchi/OpenPoseDotNet] System.AccessViolationException throw if captu

[2020-06-13 19:12] bruce987 commented on #15
@takuya-takeuchi

I'm not seeing the "Close Issue" at the bottom of the issue.

[2020-06-13 19:27] takuya-takeuchi opened #16 "Catch up 1.6.0"
Latest code support 3d skeleton
https://github.com/CMU-Perceptual-Computing-Lab/openpose/commit/98e53de17476e9201563269c0974bd5f05ab6b51

[2020-06-13 23:12] takuya-takeuchi commented on #16
Done
2693e03183012de5f40f1203050f4dec4bb39f37

But C++ 11_asynchronous_custom_input_multi_camera.exe does not work.
It requires 3d camera and parameter.
We can not test.

[2020-06-13 23:12] #16 closed, assigned to takuya-takeuchi

[2020-06-13 23:14] takuya-takeuchi commented on #7
`const char* path` should be `const char* path, const int32_t path_len`

[2020-06-15 17:30] bruce987 commented on #15
@takuya-takeuchi

I think you own this thread. I can't close.

[2020-06-15 21:16] #15 closed, assigned to takuya-takeuchi

[2020-06-18 17:22] giubri91 opened #17 "Can't compile library"
Hi i'm trying to include openpose in my project in C# and i found your helpful OpenPoseDotNet wrapper project.
I dowloaded the repository and tried to follow compile instructions but i receive an error that says:       "Error: This plaform is not support".
I don't understand why i receive this error and how i can resolve the problem in order to use your library.
My software working set is:  Window

[2020-06-19 10:16] takuya-takeuchi commented on #17
@giubri91

OK. You must use PowerShell Core rather than built in powershell.
Built in powershell could be not support `$global:IsWindows`

[2020-06-19 18:33] giubri91 commented on #17
thanks for you reply! following your suggestion i installed and used PowerShell Core and started the built process, but after some steps it returns some errors of missing cpp files that i think are related to openpose
![comp1](https://user-images.githubusercontent.com/67111628/85166996-6a6b9600-b268-11ea-8509-88a0c0d76d7a.jpg)
![comp2](https://user-images.githubusercontent.com/67111628/85167015-72

[2020-06-20 05:50] takuya-takeuchi commented on #17
@giubri91

I tried to build from the beginning.

[code]
But it works fine.

No, You need not to do.

Could you tell me the following things?

* Is there `src\openpose\3rdparty\windows\opencv\include\opencv2\opencv.hpp`?
* You look like trying some build. So Please show the last error message.
* Could you try to remove `src\OpenPoseDotNet.Native\build_win_desktop_cuda_x64_d`?
  * CMake cache may oc

[2020-06-23 11:28] giubri91 commented on #17
thanks @takuya-takeuchi , following exactly the steps you wrote in the previous post, I was finally able to compile without error.

after the build i wanted to try the example following your guide https://github.com/takuya-takeuchi/OpenPoseDotNet#2-try-tutorial
but after the command
`dotnet run -c Release  -i "examples\media\COCO_val2014_000000000192.jpg"`
the terminal does not do anything.
![exam

[2020-07-29 16:18] mikesheiman opened #18 "Can not compile library on 32 bit windows"
I get this from cmake before it freezes, giving no errors.
My command line is
".\Build.ps1 Debug cpu 32 desktop 2019 100"

The command line from you build powershell code says
" cmake -G Visual Studio 16 2019 -A Win32 -D CMAKE_BUILD_TYPE=Debug
         -D USE_CUDA:BOOL=OFF"

  Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x86

  Copyright (C) Microsoft Corporation.  All rights re

[2020-07-29 18:07] mikesheiman commented on #18
![binariesnotcopied](https://user-images.githubusercontent.com/68822633/88836544-7702d880-d19c-11ea-97fc-7d1a87fd1ff7.png)

[2020-07-30 13:28] takuya-takeuchi commented on #18
@mikesheiman
Did you try https://github.com/takuya-takeuchi/OpenPoseDotNet#1-build?
Your error says the opencv dll is missing.
And I am not sure openpose support x86.
If not support, opencv is x64 and we must not build OpenPoseDotNet for x86.

[2020-07-31 04:16] mikesheiman opened #19 "Example program "runs" but does not show a picture"
![image](https://user-images.githubusercontent.com/68822633/88999603-9bed6d80-d2ba-11ea-8bd8-a918063da2f8.png)

[2020-07-31 04:16] mikesheiman commented on #19
This is under x64/64 bit compilation

[2020-08-01 04:56] takuya-takeuchi commented on #19
@mikesheiman
OK. I got same result.
Please give me time to check.

[2020-08-01 05:14] takuya-takeuchi commented on #19
@mikesheiman

Current code does not output log to stdout.
You can modify code to show log.

#### OpenPoseDotNet\examples\TutorialApiCpp\01_BodyFromImageDefault\Program.cs

[code]

Did you deploy openpose binaries?

![image](https://user-images.githubusercontent.com/6241854/89094615-b467a000-d400-11ea-971f-0efbb3ba9ea7.png)

You can use to deploy binaries as symbolic link by using SymlinkBinary.ps1

[2020-08-01 10:34] mikesheiman commented on #19
With the exception checking code it says "Unable to load DLL 'OpenPoseDotNetNative' or one of its dependencies: The specified module could not be found."
  I had run SymLinkBinary.bat.  What do I run/build and in what directory to create OpenPoseDotNetNative.dll?  I built the main solution file with no errors, but that apparently did not build OpenPoseDotNetNative.dll.

[2020-08-01 10:45] mikesheiman commented on #19
If I rerun Build.ps1 if says "LINK : fatal error LNK1181: cannot open input file 'C:\openposeroot\OpenPoseDotNet\src\openpose\3rdparty\windows\opencv
\x64\vc14\lib\opencv_world411.lib' [C:\openposeroot\OpenPoseDotNet\src\OpenPoseDotNet.Native\build_win_desktop_cpu_x64\
OpenPoseDotNetNative.vcxproj]"

Apparently there is an opencv_world411.dll in C:\openposeroot\OpenPoseDotNet\src\openpose\3rdparty

[2020-08-01 13:27] takuya-takeuchi commented on #19
I clone new repositroy and I try to reproduce your issue.

## develop branch

[code]

## master branch

[code]
It works.

\x64\vc14\lib\opencv_world411.lib

This libraries are downloaded by openpose cmake process.
It means that your machine cannot connect to internet.
Or it failed to build openpose.

[2020-08-01 14:01] mikesheiman commented on #19
"This libraries are downloaded by openpose cmake process."
Downloaded by the cmake process in "Build.ps1 Release cpu 64 desktop 2017"?
The only difference I can see is I'm using VS 2019, not VS2017.

I am connected to the internet.

[2020-08-01 14:22] takuya-takeuchi commented on #19
Yes.
But OPDN only kicks openpose's CMakeLists.txt used by cmake.
openpose's CMakeLists.txt  could download them.
OPDN does not download them.

It doesn't matter.
But https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/doc/installation.md explains how to build by using VS2017.

You can show log in **src\OpenPoseDotNet.Native\build_win_desktop_cpu_x64\openpose\CMakeFiles\CMakeOutpu

[2020-08-01 15:16] mikesheiman commented on #19
**I did not see anything obvious to me in the Openpose build log, but here it is, does anything look off/wrong to you?**

The system is: Windows - 10.0.18363 - x86
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler:
Build flags:
Id flags:

The output was:
0
Microsoft (R) Build Engine version 16.6.0+5ff7b0c9e for .NET Framework
Copyright (C) Microsoft Corpo

[2020-08-01 15:35] takuya-takeuchi commented on #19
@mikesheiman

Can you open src\OpenPoseDotNet.Native\build_win_desktop_cpu_x64\openpose\OpenPose.sln and build it?
You may find any error. The above log file has no information. I'm sorry to trouble you.

[2020-08-01 16:06] mikesheiman commented on #19
1>------ Build started: Project: openpose, Configuration: Release x64 ------
1>Building NVCC (Device) object src/openpose/CMakeFiles/openpose.dir/face/Release/openpose_generated_renderFace.cu.obj
1>CMake Error at openpose_generated_renderFace.cu.obj.Release.cmake:220 (message):
1>  Error generating
1>  C:/openposeroot/OpenPoseDotNet/src/OpenPoseDotNet.Native/build_win_desktop_cpu_x64/openpose/src/

[2020-08-01 16:07] mikesheiman commented on #19
Looks like a lot of repeated errors about "gflags/gflags.h"

[2020-08-01 17:27] takuya-takeuchi commented on #19
Perhaps, openpose's cmake seems like to fail download all 3rd party libraries.

Can you check D:\Works\OpenSource\OPDN2\src\openpose\3rdparty\windows?

![image](https://user-images.githubusercontent.com/6241854/89106775-97b28300-d467-11ea-9a16-adee7ce2d354.png)

gflags.h must be in src\openpose\3rdparty\windows\caffe3rdparty\include\gflags.

[2020-08-01 20:19] mikesheiman commented on #19
The include file appear to be there
![gflags](https://user-images.githubusercontent.com/68822633/89109844-69528a80-d40a-11ea-84c5-1221f69c6052.jpg)

[2020-08-01 23:07] takuya-takeuchi commented on #19
Please build only openpose in opnepose.sln.
There are many logs of other projects.

And openpose.vcproj should have the following include directory setting.
![image](https://user-images.githubusercontent.com/6241854/89111921-b2502080-d496-11ea-819f-449da98d8fb0.png)

BTW, I found that I specified to build as cpu binary but include directory has CUDA driectory.
I don't know. But OpenPoseDotNet buil

[2020-08-10 22:50] Lingfeng158 opened #20 "Usage in macOS for Xamarin"
Hi takuya-takeuchi,

I'm new to .net platform, and I'm currently using Xamarin (from visual studio for Mac) to develop apps for iOS and Android. Since it is a .net package, I just assumed that it will also work in Xamarin. So here are my questions:
1. Can we build the project with CPU only? Is ``<cpu/cuda>`` choosing either cpu or cuda?
2. Can you please explain the parameters used in the build co

[2020-08-11 10:18] takuya-takeuchi commented on #20
@Lingfeng158

I'm very sorry.
I didn't check osx build work for a long time.

`Build.ps1` does not support Linux and OSX.
You can use https://github.com/takuya-takeuchi/OpenPoseDotNet/blob/master/src/BuildMacOSX.sh.

[code]

And this script support only cpu.
Because I have no osx machine with nvidia gpu.

[2020-08-11 18:38] Lingfeng158 commented on #20
Thank you for your promptly response! I encountered a few questions when trying to build with ```$ ./BuildMacOSX.sh Release```
I tried both BuildMacOS.sh from ./src and ./src/OpenPoseDotNet.Native, but they pose similar errors:
./src/OpenPoseDotNet.Native/BuildMacOS.sh:
[code]
-- Could NOT find GFlags (missing: GFLAGS_INCLUDE_DIR GFLAGS_LIBRARY)
-- Could NOT find Glog (missing: GLOG_INCLUDE_DIR GL

[2020-08-11 19:47] Lingfeng158 commented on #20
Thank you for your promptly response!

May I ask which BuildMacOS should I use? The one in src/ or the one in src/OpenPoseDotNet.Native?

Also I encountered the following problem:
[code]
Which is a problem of my environment I believe. Solutions on forums suggest that CMakeList.txt needs to be changed; however, I cannot find the cmakelist that your script use.

Could you please point me to the righ

[2020-08-11 21:48] Lingfeng158 commented on #20
So I managed to build the source code, and the console outputs  `` Built target openpose_lib`` in the end, but I wasn't able to find the file anywhere in my computer. Do you know where could it be?

In addition, since it is a .net package, is it possible that you can release a cpu-only package that can be directly used on macOS?

Thank you for your project!

[2020-08-11 22:44] Lingfeng158 commented on #20
I'm sorry that I pose multiple questions consecutively, but I'm a bit confused about the overall usage of your project. I would like to use your library inside other projects, i.e. by including ``using OpenPoseDotNet`` in some files.

However, I wasn't able to find the library after I build it. How do I access OpenPoseDotNet's API in other projects?

Do I also need to install your NuGet package fr

[2020-08-12 19:44] Lingfeng158 commented on #20
I'm sorry that I pose multiple questions consecutively, but I'm a bit confused about the overall usage of your project, as I'm very new to .net and NuGet systems. Currently I hold a few questions about the project:

1. After build the project using src/BuildMacOSX.sh, I can find all the files in src/OpenPoseDotNet in Visual Studio. I would like to try out OpenPoseDemo, but I wasn't able to find an

[2020-08-14 15:30] takuya-takeuchi commented on #20
@Lingfeng158

1. After run BuildOSX.sh, you find libopenpose.dylib but I can not current develop branch.

2. openposeDotNet is library, And you can use in your .NET core  apps. You can build examples and run it by using openposeDotNet.dll and libopenpose.dylib.
   But due to 1., it is expectation.

3. These examples could satisfy your requirements.

* Face
  * https://github.com/takuya-takeuchi/Op

[2020-08-14 18:14] takuya-takeuchi commented on #20
@Lingfeng158
Latest develop branch support osx cpu binary.

[code]

[2020-08-14 18:33] Lingfeng158 commented on #20
Thank you for your efforts and response! I will take a look!

[2020-08-28 02:27] AmazingRachel commented on #17
I also have this problem. I can configure and generate project successfully, but I cannot run examples. Once they ran, they exit quickly without producing any results. HELP WANTED!!(T_T)

[2020-08-28 04:11] takuya-takeuchi commented on #17
@AmazingRachel

You can check event viewer or attache to debugger to catch exception.
I guess

* all library is not deployed to application directory
  - especially, cudnn libs if you compile with enabling CUDA

You should use dependencies to check library.
https://github.com/lucasg/Dependencies

[2020-11-06 12:36] TomitaTseng opened #22 "c# windows formで運用"
Hello
お邪魔しました！
少し日本語ができますので、
日本語で質問させていただきます！
私はプログラム開発はまだ上手くないです。
何回もOpenPoseDotNetを試していましたが、
使い方は全然が分かりません！
c# windows formでOpenPoseDotNetを使いたいですので、手順書が有りますでしょうか？
詳細な使い方を教えて頂ければ幸いです！
お手数おかけします

[2020-11-08 12:31] takuya-takeuchi commented on #22
@TomitaTseng
Thank you for using Japanese to let me understand easily.
You can use English because this issue page will be viewed by many peoples.

No. But basically, you must follow these steps

1. Build OpenPoseDotNet.Native
2. Build OpenPoseDotNet on develop branch
3. Refer OpenPoseDotNet for WinForms project
4. Copy binaries of OpenPoseDotNet.Native to application directory for running

And yo

[2020-11-10 14:05] TomitaTseng commented on #22
1. Sorry, I want to follow the steps below, but I don't understand the meaning.
Can you explain in detail?
I use VS2019 to open OpenPoseDotNet.sln,
But after pressing Bulid I get an error.

2. I want to confirm one thing, my machine is not equipped with GPU, can I set CPU Only?

[2020-12-16 10:44] sota1994 opened #23 "Question about 1_ThreadUserProcessingFunction"
Hi,
Am I supposed to implement image processing (draw keypoints skeleton) in WUserClass? The program just shows plain video stream from camera. I also cant find any code that implements and uses opwrapper in this tutorial.
I hope to hear back from you soon.
Thank you,
Dung Tran

[2020-12-19 07:35] takuya-takeuchi commented on #23
@sota1994
Yes.Current code has not code to draw keypoints.
We have to implement **renderKeypointsCpu** from https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/src/openpose/utilities/keypoint.cpp

However, I'm not sure we can use Datum.PoseKeyPoints to draw keypoints.

[2020-12-22 03:02] sota1994 commented on #23
I see. Thank you for your help!

[2020-12-22 03:02] #23 closed, assigned to takuya-takeuchi

[2021-04-10 13:59] gferrell opened #24 "Issues compiling and running"
I've tried following the instructions to build and run the example.

The build powershell fails.
.\Build.ps1 Release cuda 64 desktop 2019 101
Unable to find type [Config].
_At C:\Users\geoff\source\repos\OpenPoseDotNet\src\OpenPoseDotNet.Native\Build.ps1:60 char:11
+ $Config = [Config]::new($OpenPoseDotNetRoot, $Configuration, $Target, ...
+           ~~~~~~~~
    + CategoryInfo          : Invalid

[2021-04-11 17:13] takuya-takeuchi commented on #24
@gferrell
Do you use Powershell core rather than Powershell?

Please check https://github.com/takuya-takeuchi/OpenPoseDotNet#1-build

(01_BodyFromImageDefault)

OPDN depends on native binary (C++).
I guess you does not deploy OpenPoseDotNet.Native, openpose.dll and other dlls.

You can know exact library name from https://github.com/takuya-takeuchi/OpenPoseDotNet/blob/develop/examples/OpenPoseDemo

[2021-04-12 10:38] gferrell commented on #24
Thanks for your response.  i wasn't aware there was a core powershell, but I downloaded the latest version 7.

![image](https://user-images.githubusercontent.com/12306145/114381171-7191c680-9b50-11eb-851a-5cd5525b6ad9.png)

(is this the correct version?)
...and ran the build again. I got the following error:

![image](https://user-images.githubusercontent.com/12306145/114417183-fd1e4e00-9b76-11eb-

[2021-04-14 15:02] takuya-takeuchi commented on #24
@gferrell
Could you try Release build rather than Debug?
I remember that current code could fail to build openpose as debug.

[2021-04-14 15:04] takuya-takeuchi commented on #24
And which branch do you try?
I tried develop branch and it is available.

[2021-04-14 21:35] gferrell commented on #24
I believe that I got the same error when I tried the Release setting previously. This time, I switched to the develop branch. I got  different errors, but the build completed anyway.:
![image](https://user-images.githubusercontent.com/12306145/114781435-466cca00-9d3e-11eb-9abb-6655f9acb9bb.png)

I tried to run the example, but only warnings and nothing displayed.

![image](https://user-images.gith

[2021-04-15 15:57] takuya-takeuchi commented on #24
@gferrell
Ok, I was success to reproduce issue after clear all build cache.
For 2019, OpenPoseDotNet\src\OpenPoseDotNet.Native\build_win_desktop_cuda_x64\openpose\x64\Release is empty.
It means that build of openpose failed.

build of openpose says

[code]

This issue is repoerted in https://github.com/CMU-Perceptual-Computing-Lab/openpose/issues/1886

[2021-04-26 11:31] gferrell commented on #24
Hello,
I didn't get the same errors as you did.  Do you know what it means?:

![image](https://user-images.githubusercontent.com/12306145/116075267-5d71bd00-a658-11eb-90ea-c7e6c63f811e.png)

I tried the debug option.  I get the same errors, but it seems to build a lot more of the projects.

[2021-05-01 16:03] takuya-takeuchi commented on #24
@gferrell

This error message is from CMake command for openpose rather than OpenPoseDotNet.Native.

[code]

[2021-05-02 11:28] suncici opened #25 "LINK : fatal error LNK1181: cannot open input file “openpose\src\openpose\Release\openpose.lib”"
![image](https://user-images.githubusercontent.com/19947026/116811508-5842cf80-ab7c-11eb-926c-9c28e69b5f5e.png)

I do not know how to handle this issue. I need somebody's help .thank you a lot.

[2021-05-02 11:30] suncici commented on #25
![image](https://user-images.githubusercontent.com/19947026/116811579-bb346680-ab7c-11eb-9ce5-200e41bbb4a9.png)
![image](https://user-images.githubusercontent.com/19947026/116811588-c6879200-ab7c-11eb-8411-31a2b0748b74.png)

[2021-05-03 09:08] takuya-takeuchi commented on #25
@suncici
It could be same issue with https://github.com/takuya-takeuchi/OpenPoseDotNet/issues/24#issuecomment-820542091.
Could you try VS 2017 instead of VS 2019?

[2021-05-03 09:59] suncici commented on #25
@takuya-takeuchi

Thank you for your prompt reply, I have used 2017 instead of 2019, still reported this problem, and tried release and debug, as well as dev and master.

[2021-05-03 14:20] gferrell commented on #24
Okay, any suggestions?  I am stuck if the base code wont compile on a fresh download.

[2021-05-04 16:18] takuya-takeuchi commented on #25
@suncici
Could you delete `src\OpenPoseDotNet.Native\build_win_desktop_cuda_x64` before build by using VS2017?
Old build cache may prevent from build process.

I do not face to your issue after do that.

[code]

[2021-05-04 16:26] takuya-takeuchi commented on #24
@gferrell

1. Could you delete src\OpenPoseDotNet.Native\build_win_desktop_cuda_x64 before build by using VS2017? Old build cache may prevent from build process.
2. It fails,  please try to build openpose and show error message. I can not give any advice w/o useful information.

It could suit with your env.

[code]

The avobe command build only openpose and show all message.

[2021-05-05 13:25] gferrell commented on #24
I captured the output of the last command  (cmake --build . --config Release) : [output.txt](https://github.com/takuya-takeuchi/OpenPoseDotNet/files/6427308/output.txt)
I notice two errors:

and

[2021-05-05 13:34] takuya-takeuchi commented on #24
@gferrell

`C:\Users\geoff\source\repos\OpenPoseDotNet\src\openpose` is too long. You clone source code to short path. e.g. `C:\Users\geoff\OpenPoseDotNet\src\openpose`.

It is restriction of windows operating system.

My code is under `D:\Works\OpenSource\OpenPoseDotNet`

[2021-05-05 15:22] gferrell commented on #24
I created a folder with a shorter path and didn't see the errors.   The overall build instructions from the main page don't work for me. I got errors like this:
![image](https://user-images.githubusercontent.com/12306145/117165482-26ec1e80-ad8b-11eb-9d4c-1544099e8e2d.png)

So, I ran these instructions from another thread and this build without error:

I tried to run the sample and I still get no o

[2021-05-08 03:49] takuya-takeuchi commented on #24
@gferrell
You mean that `pwsh Build.ps1 Debug cuda 64 desktop` should be invoked before `git submodule update --init --recursive`, right?

But I was success to build by these both instructions.

[code]

and

[code]

[2021-05-10 12:33] gferrell commented on #24
Hello,

I was able to build with "OpenPoseDotNet2" instructions  but "OpenPoseDotNet1"  instructions generates errors:
![image](https://user-images.githubusercontent.com/12306145/117658032-e233ff00-b15f-11eb-9333-eeefb3735542.png)
In any case, I am happy to have something that builds.

When i run the following instructions, I just get warnings:
[code]
![image](https://user-images.githubusercontent

[2021-06-09 14:02] gferrell commented on #24
I did some debugging in the IDE.  When I run the tutorial, I get an exception:
System.DllNotFoundException
  HResult=0x80131524
  Message=Unable to load DLL 'OpenPoseDotNetNative': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
  Source=OpenPoseDotNet
  StackTrace:
   at OpenPoseDotNet.NativeMethods.op_flags_set_disable_multi_thread(Boolean value)
   at OpenPoseDotNe

[2021-06-09 14:23] takuya-takeuchi commented on #24
@gferrell
OPDN depends on openpose.dll and many libraries.
Did you copy them, into application directory?
And you could find out which libraries are missing by using https://github.com/lucasg/Dependencies.

[2021-06-10 14:13] gferrell commented on #24
I ran the dependency finder, but it doesn't recognize the symlinks as valid files.  The file lengths are zero. Where should these links be pointing to?
![image](https://user-images.githubusercontent.com/12306145/121540208-e9069980-c9cb-11eb-9e0a-f223c4ca6803.png)
![image](https://user-images.githubusercontent.com/12306145/121540399-10f5fd00-c9cc-11eb-9b34-3e2d4826008f.png)

[2021-06-25 13:57] wollyng opened #26 "Build Error Occurs when use cuda option"
First, thank you for your great work.
I got an ERROR when I used this command to build:
pwsh Build.ps1 Debug cuda 64 desktop 2019 101

Error Msg:
Build OpenPoseDotNet.Native
Start Build openpose
Error: '' does not found
End Build openpose

please tell me how can I do, thank you very much,
Windows 10 x64
VS2019
CUDA version : 11.1.96

[2022-01-12 11:03] tgd-git opened #27 "CUDA 11 Support"
Hi, thanks for this great lib! Are you planning to upgrade to CUDA 11 support?

[2022-01-12 14:14] takuya-takeuchi commented on #27
@tgd-git
I think cuda 11 could work but I have not ever tried because I have no Ampere GPU.
And we must check whether openpose repo does support cuda 11 or not.

[2022-01-12 15:34] tgd-git commented on #27
Seems openpose already supports ver 11:
https://github.com/CMU-Perceptual-Computing-Lab/openpose/blob/master/doc/installation/1_prerequisites.md

I have an idle machine with RTX 3080. If you want you could use it remotely, if that makes sense for developing?

[2022-01-15 14:57] takuya-takeuchi commented on #27
I tried build with CUDA 11.3 for current openpose (1.6.0 3d057691b219dddf264c6e412a4560ac8a12dedb).
It looks like to work fine.
You can specify cuda 11 version like

[code]

Before do that, you must pull latest develop branch.

[2022-01-15 19:27] tgd-git commented on #27
nice! can test monday morning, will report back.

[2022-01-17 17:02] tgd-git commented on #27
So far i can not get it to run on RTX 3080 Ti. The build process is successfull but starting an example ([Try Tutorial](https://github.com/takuya-takeuchi/OpenPoseDotNet#2-try-tutorial)) fails. The problem is, it just hangs at:
[code]
I tried with CUDA 11.1 first. Then deinstalled everything and tried CUDA 11.3 with "cudnn-11.3-windows-x64-v8.2.1.32".
Each time from freshly cloned dev branch. Trie

[2022-01-17 22:57] takuya-takeuchi commented on #27
perhaps, cmakelusts.txt of openpose has any trick  to support build for ampere architecture.
in the other words, we have to pull llatest code of openpose.

[2022-01-18 11:17] tgd-git commented on #27
That worked! I checked out the v.1.7.0 commit of openpose.
The symlink script fails though with several files so i have copied the dependencies manually and started the example successfully.

One minor issue i had to fix in order to build against CUDA 11.4 was the options in BuildUtils.ps1
You added CUDA options up to 11.4 in Build.ps1 but in BuildUtils.ps1 it was only up to 11.3

[2022-01-19 15:12] takuya-takeuchi commented on #27
ok, I understand and will update branch to support ampere board.

[2022-01-21 14:41] takuya-takeuchi commented on #27
@tgd-git
I updated develop to support openpose 1.7.0 and CUDA 11.6.
And improved symlink script.
Please have a try.

Thanks a lot.

[2022-01-21 14:41] #27 closed, assigned to takuya-takeuchi

[2022-01-24 10:23] tgd-git commented on #27
Hey, just tried the build and [Try Tutorial](https://github.com/takuya-takeuchi/OpenPoseDotNet#2-try-tutorial)
Everything went fine and the first example runs well. I did not try other examples though.
Built on RTX 3080Ti with CUDA 11.4

[2022-11-21 03:26] YuBin8 commented on #3
boost_filesystem-vc140-mt-1_61.dll
boost_python-vc140-mt-1_61.dll
boost_system-vc140-mt-1_61.dll
boost_system-vc140-mt-gd-1_61.dll
boost_thread-vc140-mt-1_61.dll
caffe.dll
caffehdf5.dll
caffehdf5_hl.dll
caffezlib1.dll
cublas64_80.dll
cudart64_80.dll
cudnn64_5.dll
curand64_80.dll
gflags.dll
gflagsd.dll
glog.dll
glogd.dll
libgcc_s_seh-1.dll
libgfortran-3.dll
libopenblas.dll
libquadmath-0.dll
opencv_

[2022-11-21 07:37] takuya-takeuchi commented on #3
@YuBin8
You have to build.
Please check https://github.com/takuya-takeuchi/OpenPoseDotNet#1-build

[2022-11-25 02:59] YuBin8 commented on #3
@takuya-takeuchi  thanks, but when i run build , it say
Cant Not Found Type [Config]。
+ $Config = [Config]::new($OpenPoseDotNetRoot, $Configuration, $Target, ...
+           ~~~~~~~~
    + CategoryInfo          : InvalidOperation: (Config:TypeName) []，RuntimeException
    + FullyQualifiedErrorId : TypeNotFound

[2022-11-29 03:46] takuya-takeuchi commented on #3
@YuBin8
Did you used powershell core (or 7) rather than built-in powershell?
I can not reproduce it.

[2022-11-29 08:29] YuBin8 commented on #3
thank you so much for your patience,i was used built-in powershell, now when i run it in powershell core  7 sitll has some err

![image](https://user-images.githubusercontent.com/7712016/204477923-96a30740-8a57-4663-83b5-c0cfca14b52e.png)

my vs version :  Microsoft Visual Studio Community 2019           16.11.19
vc++ version
![image](https://user-images.githubusercontent.com/7712016/204483440-a26

[2022-11-29 10:38] takuya-takeuchi commented on #3
@YuBin8
You must install Cmake from https://cmake.org/download/

[2022-11-30 08:48] YuBin8 commented on #3
@takuya-takeuchi
so sorry to bothering you , but i still can't get it  build
now it say

  Checking Build System
  Building Custom Rule D:/OpenPoseDotNet-master/src/OpenPoseDotNet.Native/CMakeLists.txt
  CameraParameterReader.cpp
D:\OpenPoseDotNet-master\src\OpenPoseDotNet.Native\openpose\3d\../shared.h(4,10): fatal error C1083: Cannot open include file: “opencv2/opencv.hpp”: No such fi
le or dire

[2022-11-30 11:38] takuya-takeuchi commented on #3
@YuBin8
I tried to build from first step on my dev machine.

[code]

There is no issue.